extends layout

block content
  h1= title
  p Welcome to #{title}
  div#dataContainer
  // a(onclick=('sendEvent()') title="title") ghjgjhgj

  script(src="/socket.io/socket.io.js")
  script(src="/d3.js")
  script(src="/javascripts/index.js")